# Test Complete ignore files: https://support.smartbear.com/viewarticle/68002/

# Tester-specific Settings
*.tcCFGExtender
*.tcLS

# Type library declarations
*.tlb

# Visualization files
*.tcVis

# Log files
Log/
*.tcLogs

# Backup files
*.bak
